<main class="w-full lg:w-[80%] mx-auto mt-2 lg:mt-12 px-5 flex flex-col gap-8 font-open-sans">
  <section class="flex w-full justify-between gap-x-2">
    <div>
      <div class="flex justify-between w-full">
        <h2 class="font-medium text-xl font-jetbrains w-max">VM terminal:</h2>
        <%= link_to  "From Host", terminal_local_to_vm_path, 'data-turbo-frame': 'bash-terminal', class:"text-center underline decoration-cyan-400 hover:decoration-orange-400 decoration-2 inline" %>
        <%= link_to  "From Local", terminal_local_to_local_path, 'data-turbo-frame': 'bash-terminal', class:"text-center underline decoration-cyan-400 hover:decoration-orange-400 decoration-2 inline"  %>
        <%= link_to  "From Remote", terminal_remote_to_local_path, 'data-turbo-frame': 'bash-terminal', class:"text-center underline decoration-cyan-400 hover:decoration-orange-400 decoration-2 inline" %>
        <%= link_to "Bash Cheat Sheet", pages_bash_commands_path, 'data-turbo-frame': 'notepads', class:"text-center underline decoration-cyan-400 hover:decoration-orange-400 decoration-2 inline mr-1"%>
      </div>
      <%= turbo_frame_tag id="bash-terminal", src: terminal_local_to_vm_path %>
    </div>
    <div class="grow">
      <h2 class="font-medium text-xl font-jetbrains">Working notes:</h2>
      <%= turbo_frame_tag id="notepads", src: (@recent_notepad.present? ? @recent_notepad : notepads_path), class:"overflow-auto" %>
    </div>
  </section>
  <hr>
  <section class="flex w-full justify-between">
    <section class="min-w-[66%]">
      <h2 class="font-medium text-xl font-jetbrains">Documentation & Handbooks:</h2>
      <%=render 'resources'%>
    </section>
    <section class="flex flex-col gap-3">
      <div class="-mt-[24px] flex justify-between items-end">
        <h2 class="font-medium text-xl font-jetbrains">
          Recently pushed repos:
        </h2>
        <%= link_to 'https://github.com/MchaseCov/', target:"_blank" do %>
          <i class="devicon-github-original text-5xl text-black hover:text-cyan-400"></i>
        <% end %>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <%@repos.each do |repo|%>
          <%= link_to repo.html_url, target:"_blank", class:"bg-stone-300 w-max flex flex-col flex-wrap p-2" do %>
            <p><%=repo.name.titlecase%></p>
            <p>Last push: <%=repo.pushed_at.strftime("%B %e, %Y")%></p>
            <p>Created: <%=repo.created_at.strftime("%B %e, %Y")%></p>
            <p>Open issues: <%=repo.open_issues_count%></p>
          <% end %>
        <% end %>
      </div>
    </section>
  </section>
  <hr>
  <section>
    <h2 class="font-medium text-xl font-jetbrains">Quick notes:</h2>
    <%= turbo_frame_tag id="notes", src: notes_path, class:"flex gap-8 flex-wrap container mx-auto" %>
  </section>
</main>
