<main class="w-[80%] mx-auto mt-12 px-5 flex flex-col gap-8 font-open-sans">
  <section class="flex w-full justify-between">
    <div>
      <div class="flex justify-between w-full">
        <h2 class="font-medium text-xl font-jetbrains w-max">VM terminal:</h2>
        <%= link_to  "From Host", terminal_local_to_vm_path, 'data-turbo-frame': 'bash-terminal' %>
        <%= link_to  "From Local", terminal_local_to_local_path, 'data-turbo-frame': 'bash-terminal'  %>
        <%= link_to  "From Remote", terminal_remote_to_local_path, 'data-turbo-frame': 'bash-terminal' %>
        <%= link_to "Bash Cheat Sheet", 'https://github.com/LeCoupa/awesome-cheatsheets/blob/master/languages/bash.sh', class:"text-center underline decoration-cyan-400 decoration-2 inline", target:"_blank"%>
      </div>
      <%= turbo_frame_tag id="bash-terminal", src: terminal_local_to_vm_path %>
    </div>
    <div>
      <h2 class="font-medium text-xl font-jetbrains">Calandar or Gmail or something:</h2>
    </div>
  </section>
  <hr>
  <section class="flex w-full justify-between">
    <section class="min-w-[66%]">
      <h2 class="font-medium text-xl font-jetbrains">Documentation & Handbooks:</h2>
      <%=render 'resources'%>
    </section>
    <section class="flex flex-col gap-3">
      <div class="-mt-[24px] flex justify-between items-end">
        <h2 class="font-medium text-xl font-jetbrains">
          Recently pushed repos:
        </h2>
        <%= link_to 'https://github.com/MchaseCov/', target:"_blank" do %>
          <i class="devicon-github-original text-5xl text-black hover:text-cyan-400"></i>
        <% end %>
      </div>
      <div class="grid grid-cols-2 gap-2">
      </div>
    </section>
  </section>
  <hr>
  <section>
    <h2 class="font-medium text-xl font-jetbrains">Quick notes:</h2>
    <%= turbo_frame_tag id="notes", src: notes_path, class:"flex gap-8 flex-wrap container mx-auto" %>
  </section>
</main>
